.header-nav {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 45px;
    align-items: center;
    font-size: $font-size;
    font-family: $font;
    color: rgb(97, 97, 97);
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.04);
    background-color: $content-background-color;

    .header-nav__menu {
        width: 80%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;

        .nav-menu__right:hover .menu-button_border {
            background-color: rgb(163, 4, 4);
            transform: matrix(80, 0, 0, 1, 0, 0);
        }

        .nav-menu__right {
            margin-right: 20px;
            width: 93px;
            align-items: center;

            i {
                margin-left: 5px;
            }

            a {
                &:link {
                    text-decoration: none;
                }
                &:visited {
                    color: rgb(97, 97, 97);
                }
                &#productCategory:hover ~ #category-panel {
                    display: block;
                }
            }
        }

        .nav-menu__divider {
            width: 20px;
            margin: 0px 0px 0px -12px;
            transform: rotate(90deg);
        }

        .nav-menu__left {
            .nav-menu__list {
                display: flex;
                flex-flow: row nowrap;
                align-items: center;
                list-style: none;
                padding-right: 0px;
                margin: 0px;
                position: relative;
                width: 655px;

                li {
                    width: auto;
                    margin-right: 15px;
                    &#discount:hover ~ #discount-panel {
                        display: block;
                    }

                    &#digiclub:hover ~ #digiclub-panel {
                        display: block;
                    }

                    &#digiplus:hover ~ #digiplus-panel {
                        display: block;
                    }

                    &:hover {
                        cursor: pointer;
                        .menu-button_border {
                            background-color: rgb(163, 4, 4);
                            transform: matrix(80, 0, 0, 1, 0, 0);
                        }
                    }

                    .menu-list__item {
                        position: relative;
                    }

                    i {
                        margin-left: 5px;
                    }
                }

                .list-item__detail {
                    width: inherit;
                    border: solid;
                    height: 200px;
                    display: none;
                    position: absolute;
                    top: 31px;
                }
            }
        }

        .menu-button_border {
            width: 1px;
            height: 2px;
            /* position: absolute; */
            transition: width, transform 1s;
            /* left: 50px; */
            margin-right: 36px;
            margin-top: 5px;
        }

        .product-category__detail {
            width: 94%;
            border: solid;
            height: 200px;
            display: none;
            position: absolute;
            top: 120px;
        }
    }

    .header-nav__location {
        width: 20%;
        color: rgb(97, 97, 97);
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        margin-left: 31px;

        a {
            margin-left: 10px;
            &:link {
                text-decoration: none;
            }
            &:visited {
                color: rgb(97, 97, 97);
            }
        }
    }
}
