@import "variables";

* {
    box-sizing: border-box;
    direction: rtl;
}

body {
    background-color: rgb(242, 242, 242);
    margin: 0px;
}

.main-container{
    width: 100%;
}

@import "mixin";
@import "header";
@import "header-navigation";
@import "main-content";
@import "product-goods";

